.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.App-link {
  color: #636a7b;
  font-style: normal;
}

.table {
  width: 100vh;
  border-collapse: collapse;
  text-align: center;
  overflow: hidden;
}

.trBody {
  background: var(--white);
  color: #fff;
}

.trBody .news-delete{
  display: none;
}

.trBody:hover {
  background: var(--bg-color-over);
}

.trBody:hover .news-delete{
  display: block;
  pointer-events: painted;
}

.td-delete{
  width: 24px;
  text-align: center;
}

.td {
  padding: var(--sm-spacing);
  border-bottom: 1px solid var(--bg2);
  color: var(--text);
  text-align: left;
  font-size: 14px;
}

.author {
  color: var(--color-font-author);
}
